h1{
    font-family: $old-standard;
    font-weight: $fw-regular;
    color: $smokey-black;
    font-size: $xxx-large;
    font-weight: $fw-bold;
    text-transform: uppercase;
}

h2{
    font-family: $old-standard;
    font-weight: $fw-bold;
    color: $white;
    font-size: $xx-large;
}

h3{
    font-family: $old-standard;
    font-weight: $fw-bold;
    color: $white;
    font-size: $x-large;
}

h4{
    font-family: $old-standard;
    font-weight: $fw-bold;
    color: $smokey-black;
    font-size: $x-large;
}

h5{
    font-family: $old-standard;
    font-weight: $fw-regular;
    color: $white;
    font-size: $medium;
}

p{
    font-family: $raleway;
    font-weight: $fw-regular;
    color: $granite-gray;
    font-size: $large;
}