.nav{
    background-color:$white;
    overflow: hidden;
    display: flex;
    align-items: center;

    a {
        float: left;
        display: block;
        color: $smokey-black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: $medium;
        font-family: $raleway;
        font-weight: $fw-bold;
      }

    a:hover {
        color: $quick-silver;
    }
      
    a.active {
        background-color: $smokey-black;
        color: $white;
        writing-mode: vertical-lr;
        height: 100%;
    }

    .icon {
        display: none;
        position: absolute;
        right: 0;
        top: 1;
    }
}



  @media screen and (max-width: 600px) {
    .nav{
        a:not(:first-child) {
            display: none;
        }
        
        a.icon {
            float: right;
            display: block;
          }
        
        .responsive {
            position: relative;
        }
        
        .responsive a.icon {
            position: absolute;
            right: 0;
            top: 1;
        } 

        .responsive a {
            float: none;
            display: block;
            text-align: left;
        }

        a.active {
            writing-mode: horizontal-tb;
            height: 100%;
            display: flex;
            align-items: center;
        }
    }

  }
